@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/styleSheet.css">
</head>
<body>
    <header class="header-banner" id="banner">
        <div class="container-width" id="headcontainer">
            <div class="logo-container"></div>
            <!-- <div class="clearfix"></div> -->
            <div class="row">
                <div class="cell" id="superheadtitle">
                    <div id="supertitle">S H A E R N O W</div>
                </div>
                <!-- <div class="cell" id="menu"> -->
                <!-- <nav class="menu" > -->
             
            </div>
            <div class="lead-title" id="leadtitle">SherNow gør dine rejser bedre </div>
            <center>
                <div class="sub-lead-title">
                    SherNow Minilease er duften af ny bil - flere gange om året
                    Fleksibel månedsleje af bil med alt inkluderet
                    Vores enkle leasingtilbud, når du vil leje en bil i en måned og opefter. SherNow Minilease er økonomisk og fleksibel kortidsleasing af bil.

                    Nyd duften af ny bil flere gange om året. SherNow Minilease giver dig frihed til at leje en bil i en måned eller mere - uden udbetaling og alle forpligtelserne ved leasing. Alt er selvfølgelig inkluderet i prisen (på nær brændstof), og du betaler 0 kr. i depositum og 0 kr. i forudbetaling.

                    Hvis det lyder som den form for leasingtilbud, du leder efter, kan du se vores tilgængelige bilgrupper og billeje-kampagne
                </div>
            </center>
            <div class="cards">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="card-title">QuickPass</div>
                        <div class="card-sub-title">--------</div>
                        <div class="card-desc">VEd at forhåndsregistrere dig kan du spare tid når du skal hente din lejebil </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header ch2"></div>
                    <div class="card-body">
                        <div class="card-title">Minilease </div>
                        <div class="card-sub-title">--------</div>
                        <div class="card-desc">
                             Shaernow Minilease giver dig frihed til at leje en bil i en måned eller mere - uden udbetaling og alle forpligtelserne ved leasing. 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header ch3"></div>
                    <div class="card-body">
                        <div class="card-title">Inclsive</div>
                        <div class="card-sub-title">----------  </div>
                        <div class="card-desc">Vi har lyttet til billejerne for at forstå, hvad de ikke bryder sig om ved at leje bil. Unødvendig stress, kompliceret ordvalg og ubehagelige oplevelser, er de ting, de hader mest.</div>
                    </div>
                </div>
            </div>
            <div class="registerbutton" <a class="nav-link text-dark align-content-end" asp-area="" asp-page="/Admin/Login"> <strong><h4>R E G I S T E R</h4></strong></a>  </div>
        </div>
    </header>

    <div class="lineclass"></div>

    <section class="bdg-sect">
        <div class="container-width">
            <h1 class="bdg-title">S O C I A L M E  D I A</h1>
            <div class="badges">
                <div class="badge">
                    <div class="badge-header"></div>
                    <img src="~/css/billed/skærmbillede.png"  class="badge-avatar" />
                   
                        
                    <div class="badge-foot"><span class="badge-link">f</span><span class="badge-link">t</span><span class="badge-link">ln</span></div>
                </div>
                <div class="badges">
                <div class="badge">
                    <div class="badge-header"></div>
                    <img src="~/css/billed/skærmbillede.png"  class="badge-avatar" />
                    <div class="badge-body">
                    <div class="badge-foot" id="itmwzj"><span class="badge-link">f</span><span class="badge-link">t</span><span class="badge-link">ln</span></div>
                </div>
               
                        
                        
                   
                </div>
            </div>
        </div>
    </section>

    <div class="lineclass"></div>

    <section class="bdg-sect">
        <div class="container-width">
            <h1 class="bdg-title">V E N U E</h1>
            <div class="badges">
                <div class="badge">
                    <div class="badge-header" id="iji9tk"><iframe frameborder="0" id="iframe" src="https://maps.google.com/maps?&z=1&t=q&output=embed"></iframe></div>
                    <img src="~/css/billed/location.png" class="badge-avatar" />
                    <div class="badge-body">
                        
                        <div class="badge-role">L o c a t i o n</div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="lineclass"></div>

    <section class="bdg-sect">
        <div class="container-width">
            <h1 class="bdg-title">S P O N S O R S</h1>
            <img src="~/css/billed/citadine-3.jpg"  class="brand" />
        </div>
    </section>

    <div class="lineclass"></div>

    <footer class="footer-under">
        <div class="container-width"></div>
        <div class="row">
            <div class="cell">
                <div id="footertitle">C O N F E R E N C E</div>
                <div class="badge-foot2" id="badgefootopacity">
                    <center>
                        <span class="badge-link2"></span>
                    </center>
                    <center>
                        <span class="badge-link2"></span>
                    </center>
                    <center>
                        <span class="badge-link2"></span>
                    </center>

                </div>
                <div class="row">
                    <div class="cell">
                        <center>
                            <a href="#" class="registerbutton2">R E G I S T E R </a>
                        </center>

                        <div class="row">
                            <div class="cell"></div>
                        </div>
                    </div>
                </div>
                <div id="lastline"><span id="mwl">Made with Love.  </span>Mohamed monawkh<span id="namelast"> Ⓒ </span>2023</div>
            </div>
        </div>
       
    </footer>
</body>
<html>
